<!DOCTYPE html>
<html lang="en">
<head>
<title>Cart</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'core/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/cart.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/cart_responsive.css' %}">
</head>
<body>


<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_inner d-flex flex-row align-items-center justify-content-start">
			<div class="logo"><a href="{% url 'home' %}">Teens</a></div>
			<nav class="main_nav">
				<ul>
					<li><a href="{% url 'home' %}">inicio</a></li>
					<li><a href="{% url 'about' %}">Historia</a></li>
					<li><a href="{% url 'products:products' %}">Productos</a></li>
					<li><a href="{% url 'contact' %}">contactanos</a></li>
				</ul>
			</nav>
			<div class="header_content ml-auto">
				<div class="search header_search">
					<form action="#">
						<input type="search" class="search_input" required="required">
						<button type="submit" id="search_button" class="search_button"><img src="{% static 'core/images/magnifying-glass.svg' %}" alt=""></button>
					</form>
				</div>
				<div class="shopping">
					<!-- Cart -->
					<a href="{% url 'cart' %}">
						<div class="cart">
							<img src="{% static 'core/images/shopping-bag.svg' %}" alt="">
							
						</div>
					</a>

					<!-- Avatar -->
					<a href="#">
						<div class="avatar">
							<img src="{% static 'core/images/avatar.svg' %}" alt="">
						</div>
					</a>
				</div>
			</div>
			<div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm"><div></div><div></div><div></div></div>

		</div>
	</header>
	
	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		<div class="logo menu_mm"><a href="#">Teens</a></div>

		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="menu_mm"><a href="{% url 'home' %}">inicio</a></li>
				<li class="menu_mm"><a href="{% url 'about' %}">Historia</a></li>
				<li class="menu_mm"><a href="{% url 'products:products' %}">Productos</a></li>
				<li class="menu_mm"><a href="{% url 'contact' %}">contactanos</a></li>
			</ul>
		</nav>
	</div>	

	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'core/images/shopping-cart-keyboard.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_container">
						<div class="home_content">
							<div class="home_title">Carro de compras</div>
							<div class="breadcrumbs">
								<ul>
									<li><a href="{% url 'home' %}">Inicio</a></li>
									<li>Carro de compras</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Cart -->

	<div class="cart_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cart_title">Tu carro de compras</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_bar d-flex flex-row align-items-center justify-content-start">
						<div class="cart_bar_title_name">Producto</div>
						<div class="cart_bar_title_content ml-auto">
							<div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
								<div class="cart_bar_title_price">Precio</div>
								<div class="cart_bar_title_quantity">Cantidad</div>
								<div class="cart_bar_title_total">Total</div>
								<div class="cart_bar_title_button"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_products">
						<ul>
						{% for item in items %}
							<li class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
								<!-- Product Image -->
								<div class="cart_product_image"><img style="width:110px; height:110px;" src="{{item.product.image.url}}" alt=""></div>
								<!-- Product Name -->
								<div class="cart_product_name"><a href="{% url 'products:product' item.product.id item.product.name|slugify %}">{{item.product.name}}</a></div>
								<div class="cart_product_info ml-auto">
									<div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
										<!-- Product Price -->
										<div class="cart_product_price">${{item.product.price}}0</div>
										<!-- Product Quantity -->
										<div class="product_quantity_container">
											<div class="cart_product_price" style="margin-left:60px">{{item.quantity}}</div>
										</div>
										<!-- Products Total Price -->
										<div class="cart_product_total">${{item.total}}0</div>
										<!-- Product Cart Trash Button -->
										<div class="cart_product_button">
											<!--<a src="{% url 'delete' item.id %}"><img class="cart_product_remove" src="{% static 'core/images/trash.png' %}" alt=""></a>
											-->
											<a class="cart_product_remove" href="{% url 'delete' item.id %}"><img style="width:18px; height:20px;" class="cart_product_remove" src="{% static 'core/images/trash.png' %}" alt=""></a>
										</div>
									</div>
								</div>
							</li>
						{% endfor %}
							
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_control_bar d-flex flex-md-row flex-column align-items-start justify-content-start">
						<a  href="{% url 'listDelete' %}"><button class="button_clear cart_button">vaciar carro</button></a>
						<a class="button_update  ml-md-auto" href="{% url 'products:products' %}"><button class="button_update cart_button_2 ml-md-auto">continuar comprando </button></a>
					</div>
				</div>
			</div>
			<div class="row cart_extra">
				<!-- Cart Coupon -->
				<div class="col-lg-6">
					<div class="cart_coupon">
						
					</div>
				</div>
				<!-- Cart Total -->
				<div class="col-lg-5 offset-lg-1">
					<div class="cart_total">
						<div class="cart_title">total del carro</div>
						<ul>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Subtotal</div>
								<div class="cart_total_price ml-auto">${{sub}}0</div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Envio</div>
								<div class="cart_total_price ml-auto">{% if items %}$5,00{% else %}$0,00{% endif %}</div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Total</div>
								<div class="cart_total_price ml-auto"> {% if items %}${{total}}0{% else %}$0,00{% endif %}</div>
							</li>
						</ul>
						<a href="{% url 'checkout' %}"><button class="cart_total_button">proceder al envio</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer -->

	<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="footer_logo"><a href="#">Teens</a></div>
						<nav class="footer_nav">
							<ul>
								<li><a href="{% url 'home' %}">inicio</a></li>
								<li><a href="{% url 'about' %}">Historia</a></li>
								<li><a href="{% url 'products:products' %}">Productos</a></li>
								<li><a href="{% url 'contact' %}">contactanos</a></li>
							</ul>
						</nav>
						<div class="footer_social">
							<ul>
								{% if LINK_PINTEREST %}
								<li><a href="{{LINK_PINTEREST}}"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								{% endif %}
								{% if LINK_LINKEDIN %}
								<li><a href="{{LINK_LINKEDIN}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								{% endif %}
								{% if LINK_INSTAGRAM %}
								<li><a href="{{LINK_INSTAGRAM}}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								{% endif %}
								{% if LINK_REDDIT_ALIEN %}
								<li><a href="{{LINK_REDDIT_ALIEN}}"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
								{% endif %}
								{% if LINK_TWITTER %}
								<li><a href="{{LINK_TWITTER}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								{% endif %}
							</ul>
						</div>
						<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
					</div>
				</div>
			</div>
	</footer>
</div>
	
	<script src="{% static 'core/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'core/styles/bootstrap4/popper.js' %}"></script>
	<script src="{% static 'core/styles/bootstrap4/bootstrap.min.js' %}"></script>
	<script src="{% static 'core/plugins/easing/easing.js' %}"></script>
	<script src="{% static 'core/plugins/parallax-js-master/parallax.min.js' %}"></script>
	<script src="{% static 'core/js/cart_custom.js' %}"></script>
	</body>
	</html>